body {
  background: url(../assets/3.jpg) center no-repeat;
  background-size: cover;
  font-family: 'Marcellus SC', serif;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease; }

body:hover {
  -webkit-filter: blur(5px); }

.main__container {
  height: 100vh;
  display: flex;
  justify-content: center; }

.player__block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.8;
  position: relative;
  height: 200px;
  width: 140%;
  margin-top: 110px;
  text-align: center; }

.play-pause__btn {
  opacity: 1.0;
  height: 80px;
  width: 80px;
  padding-bottom: 25px;
  margin-top: 120px; }

.site__describe--h1 {
  color: whitesmoke;
  font-family: 'marcellus_scregular';
  font-weight: normal;
  text-align: center; }

.site__describe--pargaph {
  position: absolute;
  top: 300px;
  margin-top: 125px;
  margin-bottom: 0px;
  color: whitesmoke;
  width: 237px;
  font-size: 20px;
  font-weight: 400;
  text-align: center; }

.github__link {
  opacity: 2,0;
  height: 30px;
  width: 30px;
  text-align: center;
  margin-top: 5px; }
