body {
  background: url(../assets/3.jpg) center no-repeat;
  background-size: cover;
  font-family: 'Marcellus SC', serif;
  height: 100vh;
  display: block;
  margin: 0 auto; }

.main__container {
  height: 100vh;
  display: block; }

.player__block {
  display: block;
  opacity: 0.8;
  position: relative;
  text-align: center; }

.play-pause__btn {
  opacity: 1.0;
  height: 80px;
  width: 80px;
  padding-bottom: 25px;
  margin-top: 120px; }

.site__describe--h1 {
  color: whitesmoke;
  font-family: 'marcellus_scregular';
  font-weight: normal;
  text-align: center; }

.site__describe--pargaph {
  margin-top: 125px;
  margin-bottom: 0px;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 400; }

.github__link {
  opacity: 2,0;
  height: 30px;
  width: 30px;
  text-align: center;
  margin-top: 5px; }

.copyright {
  height: 30px;
  top: 500px;
  margin-top: 60px;
  opacity: 1.0;
  color: white;
  text-align: center; }
