body{
  background: url(../assets/12.jpg) center no-repeat;;
  background-size: cover ;
  font-family: 'Marcellus SC', serif;
  position: relative;
  margin: 0;
  &:before {
    content: '';
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  opacity: .5; 
  }
}

.main__container{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.player__block{
  opacity: 0.8;
  position: relative;
  height: 200px;
  width: 140px;
  margin-top: 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.player__block img:hover{
  cursor:pointer;
}
.play-pause__btn{
  opacity: 1.0;
  margin-top: 30px;
  height: 100px;
  width: 100px;
  padding-bottom: 25px;
}
.site__describe--h1{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 56px;
  color: whitesmoke;
  font-family: 'marcellus_scregular';
  font-weight: normal;
}
.site__describe--pargaph{
  top: 350px;
  position: absolute;
  color: whitesmoke;
  width: 237px;
  font-size: 20px;
  font-weight: 400;
}
.github__link{
  opacity: 2,0;
  height: 30px;
  width: 30px;
  margin-top: 40px;
}
.shadow{
  position: absolute;
  height: 100px;
  width: 100%;
  background-image: linear-gradient(to bottom, transparent,black);
  background: transparent;
  top: 618px;
  &:before {
    content: '';
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
    left: 0;
  }
}
.copyright{
  height: 30px;
  top:500px;
  width:172%;
  margin-top: 30%;
  position: absolute;
  opacity: 1.0;
  color:white;
}